.header-container {
  position: relative;
}

.header {
  height: 4.5rem;
  position: relative;
  background-color: var(--clrMail0);
  width: 100%;

  color: var(--clrGrey6);
  opacity: 0;
  padding: 0.5rem;

  transition: opacity 1s;
}

.header .logo-header {
  height: 2.2rem;
  cursor: pointer;
}
